<h2>Sign up new worker</h2>
<div class="small-container">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, class: "full-field form-control" %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off", class: "full-field form-control" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "full-field form-control" %>
    </div>

    <hr>

    <div class="field">
      <%= f.label 'first name' %><br />
      <%= f.text_field :first_name, class: "full-field form-control" %>
    </div>

    <div class="field">
      <%= f.label 'last name' %><br />
      <%= f.text_field :last_name, class: "full-field form-control" %>
    </div>

    <div class="field">
      <%= f.label 'sex' %><br />
      <%= f.radio_button 'sex','M' %> Male <br/>
      <%= f.radio_button 'sex','F' %> Female <br/>
    </div>

    <div class="field">
      <%= f.label 'pesel' %><br />
      <%= f.text_field :pesel, class: "full-field form-control" %>
    </div>

    <% if current_admin %>
      <div class="field">
        <%= f.label 'lab' %><br />
        <select id="worker_lab_id" name="worker[lab_id]">
          <% @labs.each do |lab| %>
            <option value = "<%= lab.id %>"> <%= lab.name %> </option>
          <% end %>
        </select>
      </div>
    <% end %>


    <div class="actions">
      <%= f.submit "Sign up", class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
<%= render "devise/shared/links" %>
