<!DOCTYPE html>
<html>
<head>
  <title>MyLabsResults</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1> <%= link_to "Main site", root_path%> </h1>
  <p> <%= link_to "Registration", new_user_registration_path %> </p>
  <p> <%= link_to "Login", new_user_session_path %> </p>
  <hr>
  <p class='notice' id='alert'> <%= notice %> </p>
  <p class='alert' id='alert'> <%= alert %> </p>
<%= yield %>

</body>
</html>
